<?xml version="1.0"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <add id="Devall_SignupWeather::signupweather"
         title="Signup Weather"
         module="Devall_SignupWeather"
         sortOrder="100"
         parent="Magento_Backend::content"
         action="signupweather/index/index"/>
</menu>
