<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/routes.xsd">
    <router id="standard">
        <route id="customcheckout" frontName="customcheckout">
            <module name="Devall_CustomCheckout"/>
        </route>
    </router>
</config>
